@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular.woff") format("woff");
    font-weight: 400;
}

@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadProBold.woff") format("woff");
    font-weight: 700;    
}

@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadProSemiBold.woff") format("woff");
    font-weight: 600;    
}