$font-family--main: "Source Sans Pro", Geneva, sans-serif;

$font-family--logo: "Open Sans", Geneva, sans-serif;
$font-size--logo: 26px;
$font-weight--logo: 700;

$font-family--subtitle: "Source Sans Pro", Geneva, sans-serif;
$font-size--subtitle: 20px;
$font-weight--subtitle: 300;
$line-height--subtitle: 1.7;
$letter-spacing--subtitle: 0.2em;
$color--subtitle: #333b46;

$font-family--text: "Open Sans", Geneva, sans-serif;
$font-size--text: 14px;
$font-weight--text: 400;
$line-height--text: 1.8;
$letter-spacing--text: 0.05em;
$color: #81868e;

$font-family--link: "Open Sans", Geneva, sans-serif;
$font-size--link: 16px;
$font-weight--link: 400;
$line-height--link: 1.3;