.contact-us {
	margin: 0 auto;
	width: 100%;
	padding: 0 98px;
	text-align: center;
}

.contact-us__content {
	margin: 0 auto;
	padding-top: 70px;
	width: 500px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.contact-us__subtitle {
	margin-bottom: 25px;
}

.contact-us__text {
	margin-bottom: 65px;
	padding: 0 15px;
}

